# KiCad autosave / backups
*-backups/
_autosave-*
*.lck

# KiCad project local settings
*.kicad_prl

test_scaler
mode_manager_test
mapper_test
chord_manager_test
flex_test
button_test
all_button_test

# macOS
.DS_Store

# Temporary files
*~
*.tmp
fp-info-cache
